<html>
<head>
    <style>
        .origin_info {
            display:inline-block;
            width:400px;
            height:70px;
            text-align:center;
        }
            body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        }



    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".block_1").hide();
    $(".block_2").hide();
    $(".block_3").hide();
    $(".block_4").hide();
    $(".block_5").hide();
    $(".block_1").fadeIn(200);
    $(".block_2").fadeIn(600);
    $(".block_3").fadeIn(1000);
    $(".block_4").fadeIn(1200);
    $(".block_5").fadeIn(1400);
    });
</script>
<script type="text/javascript">
function val_basic() {
var obj = document.form_main;
if(obj.pet_id.value == '' || obj.age.value == '' || obj.breed_id.value == '') {
    alert('항목을 모두 입력해 주세요');
    return false;
}
}
</script>
</head>
{% load static %}
<a href="index"><img src="{% static 'feedbap/logo.png' %}" height="70" width="200" style="margin-left:250px"/></a>
<br/>
<br/>
<br/>

<form method="POST" action="customize2" name="form_main" onsubmit="return val_basic()">{% csrf_token %}
    <div class="block_1">
        <span class="origin_info">
            pet 아이디
        </span>
        <input name="pet_id" type="number" min="0" max="999999">
    </div>
    <div class="block_2">
        <span class="origin_info">
            나이
        </span>
        <input name="age" type="number" min="0" max="25" step="0.01">
    </div>
    <div class="block_3">
        <span class="origin_info">
            견종
        </span>
        <select name="breed_id">
            {% for item in breeds %}
            <option> {{ item.name }} </option>>
            {% endfor %}
        </select>
    </div>
    <div class="block_4">
        <button type="submit" style="background-color:wheat;margin-left:250px;width:80px;height:50px;font-size:15px;color:Peru;">Next >></button>
        <span style="margin-left:50px;color:Tan;">30%완성</span>
    </div>
</form>


</body>
</html>