<html>
<head>
    <style>
        .origin_info {
            display:inline-block;
            color:green;
            width:200px;
            height:50px;
            text-align:center;
        }
    </style>
</head>
<form method="POST">{% csrf_token %}
    <div>
        <span class="origin_info">
            강아지 이름
        </span>
        <input name="data1" type="text">
    </div>
    <div>
        <span class="origin_info">
            견종
        </span>
        <select name="data2">
            {% for item in breeds %}
            <option> {{ item.name }} </option>>
            {% endfor %}
        </select>
    </div>
    <div>
        <span class="origin_info">
            몸무게
        </span>
        <input name="data3" type="number" min="1" max="100"> kg
    </div>
    <div>
        <span class="origin_info">
            비만도
        </span>
        체형작음 <input name="data4" type="range" min="1" max="5"> 체형큼
    </div>
    <div>
        <span class="origin_info">
            활동 정도
        </span>
        활동적음 <input name="data5" type="range" min="1" max="5"> 매우활발
    </div>
    <div>
        <button type="submit">제출하기</button>
    </div>
</form>
</body>
</html>